.replayer {
    .canvas {
      border: 1px solid rgba(0,0,0,.25);
      min-height: 750px;
      position: relative;
      background: url("../../../../images/backgrounds/tactile_noise.png");

      .metaBar {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        
        p {
          font-weight: bold;
          color: #fff;
          text-shadow: 0 0 5px #000;
        }

        div.replaySlider {
          flex-grow: 1;
          font-weight: normal;
          padding: 0 1rem;
          margin: 0 1rem;
          display: flex;
          color: #fff;
          align-items: center;
          border: 2px solid rgba(#fff,.25);
          position: relative;
          top: -11px;

          > span {

            &.prev, &.next {
              position: relative;
              top: -1rem;
              cursor: pointer;
              color: #aaa;
              transition: all .2s ease;

              &.disabled {
                pointer-events: none;
                opacity: .1;

                &:hover {
                  color: #aaa;
                }
              }

              &:hover {
                color: #fff;
              }
            }

            &:nth-child(2) {
              width: 100%;
              position: relative;
              top: 1rem;
              padding: 0 2rem 2rem 2rem;

              .rs-slider-mark-content {
                font-size: 12px;
              }
            }
          }
        }
      }

      .table {
        background: url("../../../../images/backgrounds/dark_leather.png");
        filter: hue-rotate(-30deg);
        width: calc(100% - 300px);
        height: 500px;
        position: absolute;
        left: 50%;
        top: calc(50% + 60px);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        margin: 0;
        border-radius: 50%;
        border: 2px solid #000;
        box-shadow: 0 40px 20px 0 rgba(0,0,0,.5);
        z-index: 1;
        border-top-width: 0px;
        border-bottom-width: 10px;

        .pot, .ante {
          font-size: 14px;
          position: absolute;
          z-index: 2;
          color: #fff;
          left: 50%;
          top: calc(50% + 30px);
          transform: translate(-50%, -50%);
          background: rgba(0,0,0,.5);
          border-radius: 10px;
          padding: .25rem 1rem;
        }

        .ante {
          top: calc(50% + 65px);
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 20px;
          left: 30px;
          width: calc(100% - 60px);
          height: calc(100% - 60px);
          background:  url("../../../../images/backgrounds/pool_table.png");
          border-radius: 50%;
          z-index: -1;
          border-top: 4px solid #000;
        }

        .appTitle {
          position: absolute;
          left: 50%;
          top: calc(50% - 40px);
          transform: translate(-50%, -50%);
          color: rgba(255,255,255, .5);
          font-weight: bold;
          text-decoration: lightskyblue;
          pointer-events: none;
          width: 15vw;
          max-width: 240px;
          
          img {
            width: 100%;
          }
        }

        .spinnerContainer {
          mix-blend-mode: multiply;
          transform: translate(-38%, -50%);
          pointer-events: none;
        }
      }

      .board {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 350px;
        transform: translate(-50%, -80px);
        // 

        img {
          width: 55px;
          height: 80px;
          margin: 0 5px;
          filter: hue-rotate(30deg);
          box-shadow: 0 0 5px black;
        }
      }
    }
}
