nav.results_nav {

    border-right: 2px solid rgba(0,0,0,.5);
    cursor: pointer;
 
    .results_nav_year {
       
        > li {
            
            > span {
                padding: .25rem .5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all .2s ease;

                svg.year_icon {
                    transition: all .1s ease;
                    transform: rotate(90deg);

                    &.active {
                        transform: rotate(0deg);
                    }
                }

                &:hover {
                    background: rgba(0,0,0,.1);
                }

            }
        }

        svg {
            pointer-events: none;
        }
    }

    li {
        list-style-type: none;
    }

    .results_nav_month {
        padding-left: 1rem;
        overflow: hidden;
        max-height: 0;
        transition: all .5s ease;

        &.active {
            max-height: 1000px;
        }

        > li {
            > span {
                padding: .25rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg.month_icon {
                    transform: rotate(90deg);
                    transition: all .5s ease;

                    &.active {
                        transform: rotate(0deg);
                    }
                }

                &:hover {
                    background: rgba(0,0,0,.1);
                }
            }
        }
    }

    .results_nav_day {
        padding-left: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease;

        &.active {
            max-height: 1000px;
        }

        > li {
            border-top: 1px solid rgba(0,0,0,.2);
            display: flex;
            flex-direction: column;
            
            svg {
                transform: rotate(270deg);
                opacity: 0;
            }
            
            > span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .2rem;
                background: rgba(0,0,0,0);
                transition: all .2s ease;               

                &:hover {
                    background: rgba(0,0,0,.1);
                }
    
                &.active {
                    background: rgba(0,255,0,.1);

                    svg {
                        opacity: 1;
                    }
                }
            }
        }
    }   
}
