h2 {
  margin: 0;
  font-size: 1.5rem;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

div.leftToggled {
  max-width: 150px;
}

div.rightToggled {
  flex-grow: 1;
}

#player-column {
  position: relative;
}

.smooth {
  transition: all .05s ease;
}