h2 {
  margin: 0;
  font-size: 1.5rem;
}

div.leftToggled {
  max-width: 150px;
}

div.rightToggled {
  flex-grow: 1;
}

#player-column {
  position: relative;
}

.handList {
 
  .headerNav {
    display: flex;
    justify-content: space-between;

    button {
      border: 1px solid rgba(0,0,0,.25);
      background: rgba(222,222,222,.5);
      transition: all .2s ease;
      border-radius: 50%;
      position: relative;
      left: -5px;

      &.toggled {
        transform: rotate(180deg);

        svg {
          top: -2px;
          left: 3px;
        }
      }

      &:hover {
        border: 1px solid rgba(0,0,0,.5);
      }

      svg {
        transform: rotate(90deg);
        position: relative;
        left: 2px;
      }
    }
  }

  ul {
    padding: 0;
    max-height: 80vh;
    overflow-y: scroll;

    li.listButton {
      list-style: none;
      padding: 0.25rem;
      border-bottom: 1px solid rgba(0,0,0,.25);
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &.active {
        font-weight: bold;

        span {
          border: 1px solid rgba(0,0,0,1);
        }
      }

      p {
        margin: 0;
        transition: all .05s ease;

        &.toggled {
          font-size: 0;
        }
      }

      span {
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        min-width: 40px;
        border: 1px solid rgba(0,0,0,.25);
        text-align: center;
        padding: .25rem;
        margin: 0 .1rem;

        &.c {
          color: green;
        }

        &.h {
          color: red;
        }

        &.s {
          color: #000;
        }

        &.d {
          color: royalblue;
        }
      }
    }
  }
}

.smooth {
  transition: all .05s ease;
}

.replayer {
    .canvas {
      border: 1px solid rgba(0,0,0,.25);
      min-height: 700px;
      position: relative;
      background: url("../../images/backgrounds/tactile_noise.png");

      .metaBar {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        
        p {
          font-weight: bold;
          color: #fff;
          text-shadow: 0 0 5px #000;
        }
      }

      .table {
        background: url("../../images/backgrounds/dark_leather.png");
        filter: hue-rotate(-30deg);
        width: calc(100% - 300px);
        height: 500px;
        position: absolute;
        left: 50%;
        top: calc(50% + 20px);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        margin: 0;
        border-radius: 50%;
        border: 2px solid #000;
        box-shadow: 0 40px 20px 0 rgba(0,0,0,.5);
        z-index: 1;
        border-top-width: 0px;
        border-bottom-width: 10px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 20px;
          left: 30px;
          width: calc(100% - 60px);
          height: calc(100% - 60px);
          background:  url("../../images/backgrounds/pool_table.png");
          border-radius: 50%;
          z-index: -1;
          border-top: 4px solid #000;
        }

        .seat {
          background-image: radial-gradient(farthest-corner at 100px -100px,#888 0%, #000 100%);
          border-radius: 50px;
          border: 5px solid #000;
          text-align: center;
          min-width: 200px;
          max-width: 300px;
          position: absolute;
          box-shadow: 0 0 10px #fff;

          &.folded, &.seat_empty {
            box-shadow: none;
            opacity: .5;

            p.playerName, p.playerStack {
              opacity: .15;
            }

            p.playerPosition {
              color: #333;
            }
          }
          
          &.seat_1 {
            left: 0;
            bottom: 50%;
            transform: translate(-70%, 50%);
            
            @media only screen and (max-width: 1280px) {
              transform: translate(-70%, 50%) scale(0.75,0.75);
            }
          }

          &.seat_2 {
            left: 0;
            top: 25%;
            transform: translate(-25%, -75%);

            @media only screen and (max-width: 1280px) {
              transform: translate(-50%, -75%) scale(0.75,0.75);
            }
          }

          &.seat_3 {
            left: 25%;
            top: 0;
            transform: translate(-50%, -75%);

            @media only screen and (max-width: 1280px) {
               transform: translate(-70%, -50%) scale(0.75,0.75);
            }
          }

          &.seat_4 {
            right: 25%;
            top: 0;
            transform: translate(50%, -75%);

            p.playerPosition {
              right: auto;
              left: -20px;              
              box-shadow: 2px 0 2px 0px #888;
            }

            @media only screen and (max-width: 1280px) {
              transform: translate(70%, -50%) scale(0.75,0.75);
            }
          }

          &.seat_5 {
            right: 0;
            top: 25%;
            transform: translate(25%, -75%);

            p.playerPosition {
              right: auto;
              left: -20px;              
              box-shadow: 2px 0 2px 0px #888;
            }

            @media only screen and (max-width: 1280px) {
               transform: translate(50%, -75%) scale(0.75,0.75);
            }
          }

          &.seat_6 {
            right: 0;
            bottom: 50%;
            transform: translate(70%, 50%);

            p.playerPosition {
              right: auto;
              left: -20px;              
              box-shadow: 2px 0 2px 0px #888;
            }

            @media only screen and (max-width: 1280px) {
              transform: translate(70%, 50%) scale(0.75,0.75);
            }
          }

          &.seat_7 {
            right: 0;
            bottom: 25%;
            transform: translate(25%, 75%);

            p.playerPosition {
              right: auto;
              left: -20px;              
              box-shadow: 2px 0 2px 0px #888;
            }

            @media only screen and (max-width: 1280px) {
              transform: translate(50%, 75%) scale(0.75,0.75);
            }
          }

          &.seat_8 {
            left: 50%;
            bottom: 0;
            transform: translate(-55%, 40%);

            @media only screen and (max-width: 1280px) {
              transform: translate(-55%, 40%) scale(0.75,0.75);
            }
          }

          &.seat_9 {
            left: 0%;
            bottom: 25%;
            transform: translate(-25%, 75%);

            @media only screen and (max-width: 1280px) {
              transform: translate(-50%, 75%) scale(0.75,0.75);
            }
          }


          &.utg, &.utg1, &.utg2, &.utg3 {
            p.playerPosition  {
              font-size: 10px;
            }
          }

          p {
            margin: 0;
            padding: .25rem 0;
            color: #fff;
            letter-spacing: 1px;

            &.playerName {
              font-weight: bold;
              border-bottom: 1px solid rgba(#fff,.25);              
            }

            &.playerPosition {
              font-weight: bold;
              font-size: 16px;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              right: -20px;
              top: 50%;
              transform: translateY(-50%);
              background-image: radial-gradient(farthest-corner at 100px -100px,#888 0%, #000 100%);
              width: 50px;
              height: 50px;
              border-radius: 50%;
              border: 4px solid #000;
              box-shadow: -2px 0 2px 0px #888;
              pointer-events: none;
              z-index: 2;
            }
          }
        }

        .appTitle {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: rgba(255,255,255, .5);
          font-weight: bold;
          text-decoration: lightskyblue;
          pointer-events: none;
        }

        .spinnerContainer {
          mix-blend-mode: multiply;
          transform: translate(-38%, -50%);
          pointer-events: none;
        }
      }
    }
}
