div {
    &.switch_list {
        display: flex;
    }

    &.filter_list {
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        transition: .25s all ease;
        justify-content: space-between;
        margin-bottom: 2rem;

        .reset_button_container {
            border-left: 1px solid rgba(0, 0, 0, 0.5)
        }

        span {
            display: flex;
            justify-content: flex-end;
            align-content: center;
            align-items: center;            
        }
        
        p {
            font-weight: bold;
            margin: 0;
        }

        button {
            margin: 4px;
        }

        div.slider_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 20px;

            p {
                display: flex;
                min-width: 70px;
            }

            button {
                margin-left: 2rem;
                min-width: 140px;
            }

            .date_picker_wrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .react-datepicker-wrapper  {
                    width: auto;
                }
            }
        }    
    }
}