@use "react-md" as *;

@include react-md-utils;

.root_container {
    background: rgba(250, 250, 250, 1);
}

nav {
    &.navbar {
        padding: 1rem;

        .navbar-nav {
            justify-content: flex-end;
        }
    }
}

button {
    .rmd-button--text {
        font-size: 0.75rem;
    }
}

div {
    &.playerPlacementSection {
        max-height: 80vh;
        overflow-y: scroll;
    }

    &.graph_wrapper {
        border: 1px solid rgba(0,0,0, .25);
        margin-top: 1rem;
        width: 100%;
        height: 30vw;

        svg rect {
            fill: #fff;
        }
    }

    &.ResultsTitleContainer {
        display: flex;
        justify-content: space-between;
    }

    &.chip {
        display: flex;
        align-items: center;
    }

    &.formNav {
        display: flex;
        justify-content: space-between;
    }

    &.generalDataFormSubmitButton {
        text-align: center;
    }

    code {
        background: rgba(100,100,100,.1);
        display: block;
        padding: .5rem;
        max-height: 400px;
        overflow-y: scroll;
    }

    &.results_table {
        max-height: 700px;
        overflow-y: auto;

        &.no_scroll {
            overflow-y: initial;
        }
        
        table {
            border: 1px solid rgba(0,0,0, .25);
            border-collapse: collapse;            
            width: 100%;

            tr {
                th {
                    background: rgba(0,0,0, .6);
                    color: #fff;
                }
    
                &:nth-child(2n){
                    background: rgba(0,0,0,.1);
                } 
         
                td, th {
                    padding: .5rem .25rem;
                    text-align: center;
                    border: 1px solid rgba(0,0,0, .25);
    
                    a {
                        color: inherit;
                    }
                }
             }
        }
    }

    &.previewTable table {      
        width: 100%;
        
        th, td {
            text-align: center;
        }

        th {
            background: rgba(0,0,0, .4);
            color: #fff;
        }
    }

}

.trash-icon {
    cursor: pointer;
    opacity: .8;
    transform: scale(1);
    transition: .2s all ease;

    &:hover {
        opacity: 1;        
        transform: scale(1.1);
    }
}

#jpg-container, #canvas {
    position: fixed;
    top: 0;
    left: -9999999999999999999px;
}